.thumbnail-item {
  list-style: none;
  margin: 5px;
}
.thumbnail-button {
  background-color: transparent;
  border-width: 0px;
  cursor: pointer;
  outline: none;
}
.thumbnail-image {
  width: 100px;
}
@media screen and (max-width: 576px) {
  .thumbnail-image {
    width: 80px;
  }
}
